/* html{
    background-attachment: scroll;
    background-repeat: repeat;
    background-image: url("/assets/images/strawberry-icon.png");
}

#title {
    background-color: pink;
    color: white;
    font-size: 28px;
    width: 300px;
    height: 100px;
    text-align: center;
    margin: 25px;
    padding: 25px;

}

#instructions{
   background-color: lightblue;
    color: grey;
    font-size: 16px;
    width: 500px;
    height: 400px;
    margin: 25px;
    padding: 30px;
    
} 

#random{

    background-color: lightcoral;
    color: grey;
    font-size: 25px;
    width: 200px;
    height: 100px;
    margin: 25px;
    padding: 30px;
    text-align: center;

}

 
#winslosses{
    background-color: plum;
    width: 300px;
    height: 100px;
    color: grey;
    margin: 50px;
    text-align: center;
    padding: 25px;
    float: left;
   
}


#totalScore{
    background-color: peachpuff;
    color: grey;
    font-size: 16px;
    width: 500px;
    height: 200px;
    margin: 100px;
    padding: 30px;
    float: left;
}

#score{
    background-color: blueviolet;
    width: 300px;
    height: 100px;
    color: grey;
    margin: 50px;
    text-align: center;
    padding: 25px;
    float: left;
}   */
